<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>testServlet</servlet-name>
    <servlet-class>com.enit.projects.testjee.servlets.testServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testServlet</servlet-name>
    <url-pattern>/testServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletAcceuil</servlet-name>
    <servlet-class>com.enit.projects.testjee.servlets.servletAcceuil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletAcceuil</servlet-name>
    <url-pattern>/servletAcceuil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ajoutPfaServlet</servlet-name>
    <servlet-class>com.enit.projects.testjee.servlets.ajoutPfaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajoutPfaServlet</servlet-name>
    <url-pattern>/ajoutPfaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ajoutPfeServlet</servlet-name>
    <servlet-class>com.enit.projects.testjee.servlets.ajoutPfeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajoutPfeServlet</servlet-name>
    <url-pattern>/ajoutPfeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>choixPfaServlet</servlet-name>
    <servlet-class>com.enit.projects.testjee.servlets.choixPfaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>choixPfaServlet</servlet-name>
    <url-pattern>/choixPfaServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>choixPfeServlet</servlet-name>
    <servlet-class>com.enit.projects.testjee.servlets.choixPfeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>choixPfeServlet</servlet-name>
    <url-pattern>/choixPfeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>affichageInitialServlet</servlet-name>
    <servlet-class>com.enit.projects.testjee.servlets.affichageInitialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>affichageInitialServlet</servlet-name>
    <url-pattern>/affichageInitialServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ajoutPostServlet</servlet-name>
    <servlet-class>com.enit.projects.testjee.servlets.ajoutPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajoutPostServlet</servlet-name>
    <url-pattern>/ajoutPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ajoutCommentaireServlet</servlet-name>
    <servlet-class>com.enit.projects.testjee.servlets.ajoutCommentaireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajoutCommentaireServlet</servlet-name>
    <url-pattern>/ajoutCommentaireServlet</url-pattern>
  </servlet-mapping>
</web-app>